VITE_APP_URL=http://VM_IP:3000/
TOKEN=saltoken
MONGOURL=mongodburl
AITOKEN=aitoken
SERVERURL=http://VM_IP:3000
CLIENTURL=http://VM_IP:5173
GF_AUTH_DISABLE_LOGIN_FORM=true
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Admin

